<div class="container">
      <div class="jumbotron" style="background-color:  orange">
        <h1>Welcome To Project Report System</h1>
     </div>
      <div class="row" style="height: 200px">
        <div class=" text-center col-lg-6 col-sm-12" style="background-color:  orange">
            <p ><h1 class="text-center">Faculty Login</h1></p>
                 
                    <a class=" btn btn-primary btn-lg text-center" href="/login">Login</a>
            
        </div>

        <div class=" text-center col-lg-6 col-sm-12"style="background-color: red">
            <p><h1 class="text-center">Project co-ordinator Login</h1></p>
            <p>
                <a class=" text-center btn btn-primary btn-lg" href="/login">Login</a>
                
            </p>
            
        </div>
      </div>
      <div class="row" style="height: 200px">
        <div class=" text-center col-lg-6 col-sm-12" style="background-color:  black">
            <p ><h1 class="text-center">hod login</h1></p>
                 
                    <a class=" btn btn-primary btn-lg text-center" href="/login">Login</a>
               
            
        </div>

        <div class=" text-center col-lg-6 col-sm-12"style="background-color:  blue">
            <p><h1 class="text-center">Project List</h1></p>
            <p>
                <a class=" text-center btn btn-primary btn-lg" href="/Plist">View All Projects </a>
            </p>
            
        </div>
      </div>
</div>
</div>
</body>
</html>