<% include partials/header %>
   <div class="container">
   	 <div class="row text-center">
   	 	<% project.forEach(function(p){ %>
   	 		<div class="col-md-4 col-sm-6">
   	 			<h3><%=p.title%></h3>
   	 			<div><%=p.briefdesc%></div>
   	 			<div><a href="/project/<%=p._id%>">show more</a></div>
   	 		</div>
   	 	<% });%>
	 </div>
   	</div>
</body>
</html>  